.works{
    color:$dark-grey-font;
    & .works-header{
        font-size: 30px;
        font-weight: 700;
    }
    & .works-desc{
        font-size: 20px;
        padding-top:25px;
        padding-bottom: 40px;
    }
    & .works-btn-item{
        margin-right: 5px;
        margin-bottom: 25px;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 20px 10px 20px;
        text-transform: uppercase;
        color:#fff;
        border-radius: 5px;
        background-color: $red;
        &:hover{
            background-color: $dark-grey-font;
        }
    }
    & .works-list{
        @include list;
        & .works-item{
            padding-bottom:7px;
            text-align: justify;
                & .works-link{
                    display: inline-block;
                    height: 220px;
            }
        }
    }
}